<div id="<%= dom_id cat %>">
  <p>
    <strong>Name:</strong>
    <%= cat.name %>
  </p>

  <p>
    <strong>Clinic:</strong>
    <%= cat.clinic_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cat.user_id %>
  </p>

</div>
